/* background:#efe9f4;
    background:#424242; */

    html, body    {
        height: 100%;
        width:100%;
        font-family: 'Cardo', serif;
        color: #222;
        
    }
    .height {
            min-height: 100vh;
    }
    .title-underline {
            width: 180px;
            height:10px;
            margin:0 auto;
            }
     .height-80 {
                min-height: 100vh;
        }
    .height-60 {
            min-height: 60vh;
    }
    #slides {
            height: 60%!important;
            overflow: hidden;
            
    }
    nav {
            position
    }
    .navbar-nav li {
            padding-right:30px;
    }
    .nav-link {
            font-size:1.1em;
    }
    .carousel-inner img {
            width:100%;
    }
    
    .logohead {
            text-shadow: 3px 3px 3px lightgrey;
            font-size:28px;
    }
    .carousel-caption {
            position:absolute;
            top:60px;
    }
    
    
    
    .about-picture {
                background:url(../images/attractive0.jpg)center/cover no-repeat fixed;
                /* background-size:cover;
                background-position:center;
                background-repeat:no-repeat;
                background-attachment:fixed; */
    }
    #filler, #progress{
        background:linear-gradient(to right,rgba(0,0,0,.1),rgba(0,0,0,.9)),url(../images/back.jpeg)center/cover no-repeat fixed;
    
        /*  background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            background-attachment:fixed; */
    
    }